p{
    background-color: black;
    color: azure;
    text-align: center;
    padding: 5px;
}
   
.container{
    margin-top:10px;
    margin-left: 200px;
    padding-left: 100px;
   }
   .card{
    border: 2px solid black;
   }
   .card-title{
    text-align: center;
    font-weight: bold;
    color: black;
   }
   .card-text{
    text-align: center;
    font-size: large;
    color: rgb(48, 118, 65);
   }
    .btn{
        margin-left: 90px;
    color: rgb(215, 151, 72);
    background-color: black;

}
.img2{
    background-color: black;
    padding-bottom: 0%;
    padding-left: 50px;

}